---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.tags }}</span><a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>
 <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<!-- 客服部分 -->
<div style="right:-230px;" class="contactusdiyou">
	<div class="hoverbtn">
		<span>联</span><span>系</span><span>我</span>
		<img class="hoverimg" src="http://oo0wyrax1.bkt.clouddn.com/hoverbtnbg.gif" height="9" width="13">
	</div>
	<div class="blank0"></div>
	<div class="conter">
		<div class="con1"> 
			<dl class="fn_cle">
				<dt><img src="http://oo0wyrax1.bkt.clouddn.com/tel.png" height="31" width="31"></dt>
				<dd class="f1">咨询：</dd>
				<dd class="f2"><span class="ph_num">156-3874-8290</span></dd>
			</dl>
		</div> 
		<div class="blank0"></div>
		<div class="weixincall"> 
			<dl class="fn_cle">
				<dt><img src="http://oo0wyrax1.bkt.clouddn.com/weixin.png" height="31" width="31"></dt>
				<dd class="f1">微信：</dd>
				<dd class="f3"><img src="http://oo0wyrax1.bkt.clouddn.com/wc.jpg" height="100" width="100"></dd>
			</dl>
		</div> 
		<div class="blank0"></div>
		<div class="qqcall" style="border:none;"> 
			<dl class="fn_cle">
				<dt><img src="http://oo0wyrax1.bkt.clouddn.com/zxkfqq.png" ></dt>
				<dd class="f1 f_s14">Q-me：</dd>
				<dd class="f2 kefuQQ">
					<span>七月：</span>
					<div class="blank0" style="width:100px;margin:0 auto;border:none;">
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=634781616&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:634781616:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
					</div>
				</dd>
			</dl>          
		</div>
		<div class="blank0"></div>
	</div>
</div>

<div class="diyoumask"></div>

<script type="text/javascript">
$(function() {
	$(".contactusdiyou").hover(function() {
		$(".hoverimg").attr("src","images/hoverbtnbg1.gif");
		$('.diyoumask').fadeIn();
		$('.contactusdiyou').animate({right:'0'},300); 
	}, function() {
		$(".hoverimg").attr("src","http://oo0wyrax1.bkt.clouddn.com/hoverbtnbg.gif");
		$('.contactusdiyou').animate({right:'-230px'},300,function(){});
		$('.diyoumask').fadeOut();
	});
});
</script>
