<section class="footer">
    <footer>
       
        <span class="footer__copyright">本站{% if site.creator %}由 {{site.creator}} 创建，<a href="http://weibo.com/itqinbo" target="_blank">新浪微博：@丨七月亅</a>{% endif %} - &copy; {{site.time | date: "%Y"}}</span>
        
    </footer>
      
</section>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261674551'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261674551%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>

